
/* General Style*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
main {
    padding: 1rem;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
img{
    max-width: 100%;
}
.lista-animali{
    width: 100%;
}
#btn-add{
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Modals Section */

#details-sc{
    height: 300px;
    overflow-y: scroll;
}
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
.btns-modals{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#input-add{
    width: 100%;
    padding: 3px;
    margin-bottom: 5px;
}
.inp-modal{
    width: auto;
    padding: 10px;
}

/* Card Section */

.card-sc{
    width: auto;
    margin-top: 15px;
    height: 700px;
    overflow: hidden;
}

#card-sc{
    width: auto;
    padding: 20px;
    text-align: center;
    height: 600px;
    overflow-y: scroll;
}

.card-container{
    width: auto;
    display: grid;
    padding: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 60px;
}

.card {
  width: 220px;
  height: 310px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.card:hover {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  border-radius: 20px;
  padding: 20px;
  backface-visibility: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.card-front {
  background: #7DA624;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-back {
  background: #142601;
  transform: rotateY(180deg) translateX(29px);
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}